---
import Layout from "../layouts/Layout.astro";
import ContactoAhora from "../components/contacto.astro";
---

<Layout title="Eschrys Joyas 💎">
    <main class="mt-24">
        <ContactoAhora />
    </main>
</Layout>