---
import Carrusel from "../components/carrusel.astro";
import Producto from "../components/productos.astro";
import Suscribete from "../components/suscribete.astro";
import RedesSociales from "../components/redes-sociales.astro"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Eschrys Joyas 💎">
    <main class="max-w-screen-xl mx-auto mt-24">
        <Carrusel />
        <Producto />
    </main>
</Layout>