---
import Layout from "../layouts/Layout.astro";
import QuienesSomosPage from "../components/quienes-somos.astro";

---

<Layout title="Eschrys Joyas 💎">
    <main class="mt-24">
        <QuienesSomosPage />
        
    </main>
</Layout>