---
import Layout from "../layouts/Layout.astro";
import UbicanosAhora from "../components/ubicanos.astro";
---

<Layout title="Eschrys Joyas 💎">
    <main class="mt-24">
        <UbicanosAhora />
    </main>
</Layout>
