<section class="bg-[#fce7e7] my-5 py-5 flex-col justify-center items-center xl:rounded-sm">
    <h3 class="text-center text-3xl py-4">Suscríbete</h3>
    <p class="text-center text-xl pb-4">
        Y recibe las últimas novedades de nuestra tienda
    </p>
    <form action="" class="flex justify-center items-center">
        <input type="text" class="rounded-md w-[80%]" placeholder="Correo Electrónico"/>
    </form>
</section>
