<section class="flex flex-col justify-center items-center">
        <h2 class="text-[#ac7d43]  font-bold text-3xl my-5">CHICLAYO</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7924.027179451151!2d-79.8439493!3d-6.7681964!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x904ceed70a9db153%3A0x18a31b97b93dc9fb!2sEschrys%20Joyas!5e0!3m2!1ses-419!2spe!4v1725009545042!5m2!1ses-419!2spe"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" class="xl:rounded-sm w-full h-80 md:h-96 "></iframe>
        <div class="text-xl font-bold flex flex-col items-center justify-center my-5 gap-2">

            <p>Alfredo Lapoint 1200 </p>
            <p>Chiclayo 14001</p>
        </div>
    
</section>
