---
import Footer from "../components/footer.astro";
import Navbar from "../components/navbar.astro";
import "@fontsource/twinkle-star";
import RedesSociales from "../components/redes-sociales.astro";
import Suscribete from "../components/suscribete.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="font-serif max-w-screen-xl mx-auto">
        <Navbar />
        <slot />
        <Suscribete />
        <RedesSociales />
        <Footer />
        <script
            src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
        ></script>
        
    </body>
</html>
